fieldset{
    border: solid 1px #8080ff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: 5px 5px 18px #8080ff;
    background-color: #e6e6e6;
    margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-bottom: 15px;
    padding-left: 20px;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.colunas{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-direction: column; 
    justify-content: space-between;  
}



body{
    background-color: #e6e6e6;

}

button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 60px;
    height: 40px;
	font-size: 24px;
    cursor: pointer;
    margin-top: 15px;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #222222;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #1a1a1a;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}

button:active {
	box-shadow: 0 2px #1a1a1a;
	transform: translateY(9px);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
}


input{
    width: 250px;
    height: 60px;
    font-size: 34px;
    background-color: #e6e6e6;
    margin-right: 13px;
}

p{
    width: 15px;
    height: 15px;
}

.operador{
    background-color: #1ed760 !important;
    box-shadow: 0 9px #1cca59 !important;
}

.operador:active {
	box-shadow: 0 2px #1cca59 !important;
}

.numerico{
    background-color: #00bcf2 !important;
    box-shadow: 0 9px #00a0cc !important;
}

.numerico:active {
	box-shadow: 0 2px #00a0cc !important;
}

.botoesLimpar{
    background-color: #222222 !important;
	box-shadow: 0 9px #000000 !important;
}

.botoesLimpar:active {
	box-shadow: 0 2px #000000 !important;
}